<nav id="mainnav-container">
    <div id="mainnav">
        <div id="mainnav-menu-wrap">
            <div class="nano">
                <div class="nano-content" tabindex="0">

                    <!--Profile Widget-->
                    <div id="mainnav-profile" class="mainnav-profile">
                        <div class="profile-wrap">
                            <div class="pad-btm">
                                <img class="img-circle img-sm img-border"
                                     src="/static/img/profile-photos/1.png"
                                     alt="Profile Picture">
                            </div>
                        </div>
                    </div>

                    <ul id="mainnav-menu" class="list-group">

                        <!--Category name-->
                        <li class="list-header">菜单栏</li>

                        <!--Menu list item-->


                        <li class="active-link">
                            <a href="{% url 'home' %}">
                                <i class="ti-home"></i>
                                <span class="menu-title">主页</span>
                            </a>
                        </li>

                        <!--Menu list item-->
                        <li class="">
                            <a href="{% url 'users' %}">
                                <i class="ti-game"></i>
                                <span class="menu-title">人员管理</span>
                            </a>
                        </li>

                        <!--Menu list item-->
                        <li>
                            <a href="#">
                                <i class="ti-linux"></i>
                                <span class="menu-title">
                        <strong>主机管理</strong>
                        </span>
                            </a>
                        </li>

                        <!--Menu list item-->
                        <li>
                            <a href="#">
                                <i class="ti-anchor"></i>
                                <span class="menu-title">
                        主机组管理
                        <span class="label label-success pull-right">New</span>
                        </span>
                            </a>
                        </li>

                        <!--Menu list item-->
                        <li>
                            <a href="#">
                                <i class="ti-panel"></i>
                                <span class="menu-title">
                                任务管理<span class="pull-right badge badge-purple">7</span>
                        </span>
                            </a>
                        </li>

                        <li class="list-divider"></li>

                    </ul>
                    <!--Widget-->
                    <div class="mainnav-widget">

                        <!-- Show the button on collapsed navigation -->
                        <li class="pad-ver">

                            <a href="{% url 'logout' %}" class="btn btn-primary">
                                <i class="ti-unlock icon-fw"></i>Logout
                            </a>
                        </li>
                    </div>
                </div>
                <!--End widget-->

            </div>
            <div class="nano-pane" style="display: none;">
                <div class="nano-slider" style="height: 2248px; transform: translate(0px, 0px);"></div>
            </div>
        </div>
    </div>
</nav>